In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tqdm.notebook import tqdm_notebook
import time
import os
from functions import *

In [14]:
import reverse_geocoder

In [15]:
#read in acc, obd, and gps data

In [16]:

acc = pd.read_csv('Converted/2021-11-19__18-15-21_sans_location/acc_data_2021-11-19.csv',index_col=0)
gps_data = pd.read_csv('Converted/2021-11-19__18-15-21_sans_location/gps_data_2021-11-19.csv',index_col=0)
obd_data = pd.read_csv('Converted/2021-11-19__18-15-21_sans_location/obd_data_2021-11-19.csv',index_col=0)

In [19]:
class trip:
    
    def __init__(self, acc, gps_data, obd_data):
        
        acceleration_data = acc
        gps_data = gps_data
        obd_data = obd_data
        
        #start time
        self.start_time = gps_data.utctime[gps_data.index[0]]
        
        #end time
        self.end_time = gps_data.utctime[gps_data.index[-1]]
        
        #duration
        self.duration = (obd_data.index[-1] - obd_data.index[0]) * 0.001
        
        
        #avg speed
        self.avg_speed = np.mean(obd_data.speed)
        #max speed
        self.max_speed = np.max(obd_data.speed)
        self.max_speed_timestamps = obd_data.loc[obd_data.speed == self.max_speed].index
        self.max_speed_duration = (self.max_speed_timestamps[-1] - self.max_speed_timestamps[0]) * 0.001
        
        
        #length - not a great calculation, but better than using coords with a minkowski
        self.approx_distance = (self.duration / 3600) * self.avg_speed
        
        #time in certain speed ranges
        
        #start location
        #self.start_coords = (gps_data.lat[gps_data.index[0]], gps_data.long[gps_data.index[0]])
        #self.end_coords = (gps_data.lat[gps_data.index[-1]], gps_data.long[gps_data.index[-1]])
        
       
        #engine rpm
        self.avg_rpm = np.mean(obd_data.rpm)
        
        self.max_rpm = np.max(obd_data.rpm)
        self.max_rpm_timestamps = obd_data.loc[obd_data.rpm == self.max_rpm].index
        self.max_rpm_duration = (self.max_rpm_timestamps[-1] - self.max_rpm_timestamps[0]) * 0.001
        
        #engine throttle pos
        self.avg_throt_pos = np.mean(obd_data.throt_pos)
        
        self.max_throt = np.max(obd_data.throt_pos)
        self.max_throt_timestamps = obd_data.loc[obd_data.throt_pos == self.max_throt].index
        
        #fix not continuous timestamps for duration calculations
#         self.max_throt_duration = (self.max_throt_timestamps[-1] - self.max_throt_timestamps[0]) * 0.001
        
#         #altitude - BAD!
#         self.max_altitude = np.max(gps_data.alt)
#         self.min_altitude = np.min(gps_data.alt)
#         self.altitude_chg = self.max_altitude - self.min_altitude


    #def start_destination_info(self):
        
    #reverse geocode from location data and get start and end city, county, state, etc
        
    def trip_stats(self):
        duration = print(f'This trip took {round(self.duration / 60)} minutes')
        avg_speed = print(f'The average speed was {round(self.avg_speed)} miles per hour')
        max_speed = print(f'The max speed was {round(self.max_speed)} for about {round(self.max_speed_duration)} seconds')
        
        
    def get_start_location(self):
        
        self.start_location_data = reverse_geocoder.search(self.start_coords)
        return self.start_location_data
        
    def get_end_location(self):
        
        self.end_location_data = reverse_geocoder.search(self.end_coords)
        return self.end_location_data
        
        return duration, avg_speed, max_speed

In [20]:
trip_1 = trip(acc, gps_data, obd_data)

In [21]:
obd_data

           rpm  speed  throt_pos  engine_load  bat_volt
59851    902.0    0.0         17         27.0     14.63
64490    908.0    0.0         16         27.0     14.63
64754    909.0    0.0         16         27.0     14.57
65022    908.0    0.0         16         27.0     14.58
65292    910.0    0.0         16         27.0     14.60
...        ...    ...        ...          ...       ...
5200245    0.0    0.0         32          0.0     12.30
5200515    0.0    0.0         32          0.0     12.31
5200789    0.0    0.0         32          0.0     12.32
5201052    0.0    0.0         32          0.0     12.31
5201321    0.0    0.0         32          NaN     12.31

[18675 rows x 5 columns]

In [22]:
start = obd_data.index[0]

In [23]:
end = obd_data.index[-1]

In [24]:
duration = (end - start) * 0.001

In [25]:
duration

5141.47

In [26]:
gps_data.index[0]

64487

In [27]:
gps_data

            utcdate          utctime  alt   speed_mph  n_sats
64487    2021-11-19  18:15:21.400000  184  234.256867       4
64751           NaN  18:15:21.600000  184  200.702833       4
65020           NaN  18:15:21.900000  185  301.364935       4
65289           NaN  18:15:22.200000  186    0.000000       4
65565           NaN  18:15:22.500000  186  133.594765       4
...             ...              ...  ...         ...     ...
5200512         NaN  19:40:56.300000  184   66.486697      12
5200786         NaN  19:40:56.500000  184  100.040731      12
5201049         NaN  19:40:56.800000  184  200.702833      12
5201318         NaN  19:40:57.100000  184   66.486697      12
5201731         NaN  19:40:57.500000  184   32.932663      12

[17218 rows x 5 columns]

In [28]:
gps_data.index[-1]

5201731